body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: #87509c;
}

.menu-wrap{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
}
.menu a:hover{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.first-screen{
    background-color: #87509c;
    text-align: center;
}
.first-screen h1{
    font-size: 42px;
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 150px;
}
.first-screen a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #eb7d4b;
    padding: 30px 80px;
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 150px;
    text-transform: uppercase;
    box-shadow: 0px 4px 3px 0px rgba(200,106,64,0.9);
}

.services{
    background-color: #17c2a4;
    color: white;
    padding-top: 120px;
    padding-bottom: 130px;
    h2{
        position: relative;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        $width: 90px;
        $leftOffset: $width/ 2;
        &:after{
            content:"";
            position: absolute;
            display: block;
            bottom: -20px;
            left: calc(50% - #{$leftOffset});
            width: $width;
            border-radius: 2px;
            height: 4px;
            background: rgba(#14a58c, .5);
            // transform: translate(-50%, 0);
        }
    }
    
    h3{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase; 
    }
    p{
        text-align: center;
        width: 600px;
        font-size: 16px;
        margin: 15px auto;
        padding-top: 30px;
    }      
}
.services-blocks{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 60px;
}
.service{
    width: 33.33%;
    display: block;
}
.service p{
    width: 200px;
}
.roundimg img{
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.team{
    background-color: #e7f1f8;
    color: black;
    padding-top: 120px;
    padding-bottom: 130px;
    h2{
        position: relative;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        $width: 90px;
        $leftOffset: $width/ 2;
        &:after{
            content:"";
            position: absolute;
            display: block;
            bottom: -20px;
            left: calc(50% - #{$leftOffset});
            width: $width;
            border-radius: 2px;
            height: 4px;
            background: rgba(#c8d9e5, .5);
        }
    }
    h3{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px; 
    }
    p{
        text-align: center;
        width: 600px;
        font-size: 16px;
        margin: 15px auto;
        padding-top: 30px;
    }      
}
.team-cards{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 60px;
}
.team-member{
    width: 33.33%;
    display: block;
}
.team-member p{
    width: 200px;
}
.team-member span{
    display: block;
    color:#48c1e9;
    font-size: 16px;
}

.skills{
    color: black;
    padding-top: 120px;
    padding-bottom: 130px;
    h2{
        position: relative;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        $width: 90px;
        $leftOffset: $width/ 2;
        &:after{
            content:"";
            position: absolute;
            display: block;
            bottom: -20px;
            left: calc(50% - #{$leftOffset});
            width: $width;
            border-radius: 2px;
            height: 4px;
            background: rgba(#c8d9e5, .5);
        }
    }
    h3{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px; 
    }
    p{
        text-align: center;
        width: 600px;
        font-size: 16px;
        margin: 15px auto;
        padding-top: 30px;
    }      
}

.skill-knobs{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 60px;
}
.skill{
    width: 33.33%;
    display: block;
}

.portfolio{
    background-color: #ffdd99;
    color: black;
    padding-top: 120px;
    padding-bottom: 130px;
    h2{
        position: relative;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        $width: 90px;
        $leftOffset: $width/ 2;
        &:after{
            content:"";
            position: absolute;
            display: block;
            bottom: -20px;
            left: calc(50% - #{$leftOffset});
            width: $width;
            border-radius: 2px;
            height: 4px;
            background: rgba(#e5c37f, .5);
        }
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px; 
    }
    p{
        text-align: center;
        width: 600px;
        font-size: 16px;
        margin: 15px auto;
        padding-top: 30px;
    }      
}

.portfolio-imgs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.portfolio-item{
    display: block;
    text-align: center;
    margin-top: 60px;
}

.projects-btn{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #17c2a4;
    padding: 30px 80px;
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 100px;
    text-transform: uppercase;
    box-shadow: 0px 4px 3px 0px rgba(20, 165, 140,0.9);
}

.comments{
    background-color: #d74680;
    color: white;
    padding-top: 120px;
    padding-bottom: 130px;
    h2{
        position: relative;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        $width: 90px;
        $leftOffset: $width/ 2;
        &:after{
            content:"";
            position: absolute;
            display: block;
            bottom: -20px;
            left: calc(50% - #{$leftOffset});
            width: $width;
            border-radius: 2px;
            height: 4px;
            background: rgba(#b73c6d, .5);
        }
    }
    h3{
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px; 
    }
    p{
        text-align: center;
        width: 600px;
        font-size: 16px;
        margin: 15px auto;
        padding-top: 30px;
    } 
    span{
        font-size: 18px;
        color: #ffdd99;
    }     
}

.photoandcommenttext img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.photoandcommenttext{
    display: flex;
    flex: row;
    width: 500px;
    align-items: center;
    p{
        font-style: italic;
        margin-left: 20px;
        font-size: 21px;
        padding: 0px;
        text-align: left;
    }
}
.comments-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sendername{
        margin-bottom: 20px;
        margin-left: 120px;
}
